div{
    background: rgb(11, 11, 24);
    border: 0px;
    color: white;
}
.coverone{
    text-align: center;
    
}
img{
    width: 350px;
    height: 350px;
}
.covertwo{
    text-align: center;
    
}



